#include LICENSE
#include README.md
#include requirements.txt

include *.*
recursive-include examples *.*
recursive-include tegridy_tools *.*
recursive-include tegridy_data *.*
recursive-include tegridy_docs *.*
recursive-include tegridy_raspberry *.*