absl-py==0.10.0
alabaster==0.7.12
anytree==2.8.0
appdirs==1.4.4
astor==0.8.1
atomicwrites==1.4.0
attrs==20.3.0
audioread==2.1.9
Babel==2.9.0
backcall==0.2.0
beautifulsoup4==4.9.3
bleach==3.2.2
bokeh==2.2.3
boto3==1.16.59
botocore==1.19.59
bullet==2.2.0
bz2file==0.98
cached-property==1.5.2
cachetools==4.2.0
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
cliff==3.6.0
cloudpickle==1.6.0
cmd2==1.4.0
colorama==0.4.4
configobj==5.0.6
configparser==5.0.1
cycler==0.10.0
decorator==4.4.2
dill==0.3.3
distlib==0.3.1
dm-sonnet==2.0.0
dm-tree==0.1.5
dnspython==2.0.0
docutils==0.16
dopamine-rl==3.0.1
filelock==3.0.12
Flask==1.1.2
fluidsynth==0.2
future==0.18.2
gast==0.2.2
gevent==21.1.2
gin-config==0.4.0
gnupg==2.3.1
google-api-core==1.25.0
google-api-python-client==1.12.8
google-auth==1.24.0
google-auth-httplib2==0.0.4
google-pasta==0.2.0
googleapis-common-protos==1.52.0
greenlet==1.0.0
grpcio==1.35.0
gunicorn==20.0.4
gym==0.18.0
h5py==3.1.0
httplib2==0.18.1
humanfriendly==9.1
idna==2.10
imageio==2.9.0
imagesize==1.2.0
importlib-metadata==3.4.0
importlib-resources==5.1.0
iniconfig==1.1.1
intervaltree==3.1.0
ipwhois==1.2.0
ipython==7.19.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.2
jmespath==0.10.0
joblib==1.0.0
Keras==2.4.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring==21.8.0
kfac==0.2.0
kiwisolver==1.3.1
librosa==0.7.2
llvmlite==0.31.0
lxml==4.6.2
magenta==2.1.3
Markdown==3.3.3
markovify==0.8.3
MarkupSafe==1.1.1
matplotlib==3.3.3
mesh-tensorflow==0.1.18
midi2audio==0.1.1
mido==1.2.6
mir-eval==0.6
mpmath==1.1.0
networkx==2.5
note-seq==0.0.2
numba==0.48.0
numpy==1.19.5
oauth2client==4.1.3
opencv-python==4.5.1.48
opt-einsum==3.3.0
packaging==20.8
pandas==1.2.1
parso==0.8.1
pbr==5.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
pkginfo==1.7.0
pluggy==0.13.1
pretty-midi==0.2.9
prettytable==0.7.2
progress==1.5
promise==2.3
prompt-toolkit==3.0.11
property-manager==3.0
protobuf==3.14.0
psutil==5.8.0
ptyprocess==0.7.0
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycryptodome==3.9.9
pydub==0.24.1
pyflakes==2.2.0
pyFluidSynth==1.3.0
pyglet==1.5.0
Pygments==2.7.4
pygtrie==2.4.2
pyparsing==2.4.7
pyperclip==1.8.1
pypianoroll==1.0.3
pypng==0.0.20
pyreadline==2.1
pytest==6.2.1
python-dateutil==2.8.1
python-rtmidi==1.1.2
python-secrets==20.11.0
pytz==2020.5
PyWavelets==1.1.1
pywin32-ctypes==0.2.0
PyYAML==5.4.1
readme-renderer==28.0
requests==2.25.1
requests-toolbelt==0.9.1
resampy==0.2.2
rfc3986==1.4.0
rsa==4.7
s3transfer==0.3.4
scikit-image==0.18.1
scikit-learn==0.24.1
scipy==1.6.0
secret==0.8
six==1.15.0
sk-video==1.1.10
snowballstemmer==2.1.0
sortedcontainers==2.3.0
SoundFile==0.10.3.post1
soupsieve==2.1
sox==1.4.1
Sphinx==3.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
stevedore==3.3.0
sympy==1.7.1
tabulate==0.8.7
tensor2tensor==1.15.7
tensorboard==1.15.0
tensorflow==1.15.0
tensorflow-addons==0.12.0
tensorflow-datasets==2.1.0
tensorflow-estimator==1.15.1
tensorflow-gan==2.0.0
tensorflow-hub==0.11.0
tensorflow-metadata==0.26.0
tensorflow-probability==0.7.0
termcolor==1.1.0
tf-slim==1.1.0
threadpoolctl==2.1.0
tifffile==2021.1.14
toml==0.10.2
torch==1.7.1
torchvision==0.4.1
tornado==6.1
tox==3.21.2
tqdm==4.56.0
traitlets==5.0.5
twine==3.3.0
typeguard==2.10.0
typing-extensions==3.7.4.3
Unidecode==1.1.2
uritemplate==3.0.1
urllib3==1.26.2
verboselogs==1.7
virtualenv==20.4.0
Visual-MIDI==1.1.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.12.1
xkcdpass==1.17.6
yamlreader==3.0.4
zipp==3.4.0
zope.event==4.5.0
zope.interface==5.2.0
